---
layout: front_page
---
<div class="home">

  <div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
      <header class="site-header">
        <h1 class="title">{{ site.title }}</h1>
        <p class="subtitle">
          <a href="https://elixirgirls.com/">ElixirGirls</a> event hosted by <a href="https://es.linkedin.com/company/derivco-sports">Derivco Sports</a> in Stockholm 2019.
        </p>
        <div class="sponsor-logo">
          <img src="{{ "assets/derivco-sports-dark.png" | prepend: site.baseurl }}" class="sponsor-logo"/>
        </div>
      </header>
    </div>
  </div>

  <div class="wrapper">
        <h2>Documentation</h2>
        <p>
          <a href="{{ "/docs" | prepend: site.baseurl }}">Tutorials</a>
        </p>
        <h2>Github</h2>
        <p>
          <a href="https://github.com/ElixirForGirls/elixirforgirls.github.io">Contribute to this repo</a>
        </p>
  </div>
</div>
